@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

#header{
	color: white;
	background-color: blue;
	height: 80px;
	line-height: 70px;
	width: 100%;
	text-align: center;
}

#header div{
	font-size: 22px;
}

#nav{
	color: white;
	background-color: skyblue;	
	height: 40px;
	line-height: 30px;
	width: 100%;
}

#nav ul li{
	float: left;
	padding: 0 20px;
	list-style: none;
}

#nav a{
	text-decoration: none;
	color: white;
}

.section{
	height: 100%;
	width: 100%;
	background-color : lightgray;
	position : fixed;
}

.section div{
	font-size: 28px;
	text-align: center;
	padding: 35px 0;
}

.section p{
	padding: 25px 20px;
	font-size: 17px;
}

.section ul li{
	padding: 10px 20px;
}

#footer{
	text-align: center;
	width: 100%;
	color: white;
	background-color: blue;
	position: absolute;
	bottom: 0;
	height: 40px;
	align-items: start;
	padding: 10px 0 0 0;
	font-size: 10px;
}

.table{
	border: 1px solid black;
	border-collapse: collapse;
	margin: auto;
}

.table tr th{
	border: 1px solid black;
	padding: 8px 15px;
}

.table tr td{
	border: 1px solid black;
	padding: 8px 8px;
}